In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("VNL2025_mens_stats.csv", index_col=0)

In [3]:
matches.head()

,TEAMA,TEAMB,RESULTA,RESULTB,SET1A,SET1B,SET2A,SET2B,SET3A,SET3B,...,BLOCKSA,BLOCKSB,SERVESA,SERVESB,DIGSA,DIGSB,RECSA,RECSB,SETSA,SETSB
MATCHID,,,,,,,,,,,,,,,,,,,,,
21437,Poland,Netherlands,W,L,25,22,22,25,25,22,...,6,11,6,2,72,81,74,79,120,126
21438,China,Japan,L,W,23,25,14,25,22,25,...,5,3,1,6,38,45,63,48,79,79
21439,Serbia,Türkiye,W,L,12,25,25,22,25,23,...,10,8,1,9,69,66,79,63,113,104
21440,Bulgaria,Italy,L,W,16,25,25,22,19,25,...,6,11,6,6,64,64,77,61,109,101
21441,Ukraine,USA,W,L,25,22,25,20,25,23,...,6,8,5,3,41,45,52,58,79,77

In [4]:
matches.head()

,TEAMA,TEAMB,RESULTA,RESULTB,SET1A,SET1B,SET2A,SET2B,SET3A,SET3B,...,BLOCKSA,BLOCKSB,SERVESA,SERVESB,DIGSA,DIGSB,RECSA,RECSB,SETSA,SETSB
MATCHID,,,,,,,,,,,,,,,,,,,,,
21437,Poland,Netherlands,W,L,25,22,22,25,25,22,...,6,11,6,2,72,81,74,79,120,126
21438,China,Japan,L,W,23,25,14,25,22,25,...,5,3,1,6,38,45,63,48,79,79
21439,Serbia,Türkiye,W,L,12,25,25,22,25,23,...,10,8,1,9,69,66,79,63,113,104
21440,Bulgaria,Italy,L,W,16,25,25,22,19,25,...,6,11,6,6,64,64,77,61,109,101
21441,Ukraine,USA,W,L,25,22,25,20,25,23,...,6,8,5,3,41,45,52,58,79,77

In [5]:
matches.shape

(116, 26)

In [6]:
matches["TEAMA"].value_counts()

TEAMA
China          11
Bulgaria       11
Brazil         10
Ukraine        10
Germany         9
Türkiye         8
Netherlands     8
Argentina       7
Serbia          7
Canada          5
USA             5
Poland          4
Slovenia        4
France          4
Cuba            4
Iran            4
Italy           3
Japan           2
Name: count, dtype: int64

In [7]:
matches["TEAMB"].value_counts()

TEAMB
Italy          12
Japan          11
Poland         11
Slovenia       11
Cuba            9
France          9
Iran            8
Canada          7
USA             7
Argentina       5
Brazil          5
Serbia          5
Netherlands     4
Türkiye         4
Germany         3
Ukraine         2
China           2
Bulgaria        1
Name: count, dtype: int64

In [8]:
matches.dtypes

TEAMA        object
TEAMB        object
RESULTA      object
RESULTB      object
SET1A         int64
SET1B         int64
SET2A         int64
SET2B         int64
SET3A         int64
SET3B         int64
SET4A       float64
SET4B       float64
SET5A       float64
SET5B       float64
ATTACKSA      int64
ATTACKSB      int64
BLOCKSA       int64
BLOCKSB       int64
SERVESA       int64
SERVESB       int64
DIGSA         int64
DIGSB         int64
RECSA         int64
RECSB         int64
SETSA         int64
SETSB         int64
dtype: object

In [9]:
matches["targetA"] = (matches["RESULTA"] == "W").astype("int")
matches["targetB"] = (matches["RESULTB"] == "W").astype("int")

In [10]:
matches

,TEAMA,TEAMB,RESULTA,RESULTB,SET1A,SET1B,SET2A,SET2B,SET3A,SET3B,...,SERVESA,SERVESB,DIGSA,DIGSB,RECSA,RECSB,SETSA,SETSB,targetA,targetB
MATCHID,,,,,,,,,,,,,,,,,,,,,
21437,Poland,Netherlands,W,L,25,22,22,25,25,22,...,6,2,72,81,74,79,120,126,1,0
21438,China,Japan,L,W,23,25,14,25,22,25,...,1,6,38,45,63,48,79,79,0,1
21439,Serbia,Türkiye,W,L,12,25,25,22,25,23,...,1,9,69,66,79,63,113,104,1,0
21440,Bulgaria,Italy,L,W,16,25,25,22,19,25,...,6,6,64,64,77,61,109,101,0,1
21441,Ukraine,USA,W,L,25,22,25,20,25,23,...,5,3,41,45,52,58,79,77,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21548,France,Slovenia,L,W,22,25,25,15,19,25,...,7,2,58,60,76,58,107,75,0,1
21549,Brazil,Poland,L,W,26,28,19,25,21,25,...,6,7,29,34,63,56,70,70,0,1
21550,Italy,Slovenia,W,L,25,22,22,25,25,21,...,9,2,57,64,79,79,112,106,1,0
21551,Brazil,Slovenia,W,L,23,25,25,20,25,23,...,5,2,60,68,68,80,110,122,1,0
21552,Poland,Italy,W,L,25,22,25,19,25,14,...,3,4,55,46,43,62,80,81,1,0

In [1]:
from sklearn.ensemble import RandomForestClassifier

In [2]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [ ]:
#train = matches[matches